In [6]:
import pandas as pd

s = pd.Series([10,20,30])

print(s)

s_custom = pd.Series([10,20,30], index = ['a','b','c'])
print(s_custom)
print(s_custom['a'])

0    10
1    20
2    30
dtype: int64
a    10
b    20
c    30
dtype: int64
10

In [8]:
data = {
    "name": ["manav","sahil"],
    'marks': [10,20]
}

df = pd.DataFrame(data)
print(df)

print(type(df))

    name  marks
0  manav     10
1  sahil     20
<class 'pandas.core.frame.DataFrame'>

In [17]:
import pandas as pd

# 1. Setup DataFrame
data = {
    "Student": ["Manav", "Sahil", "Riya"],
    "Marks": [85, 90, 78],
    "Subject": ["Maths", "Science", "Maths"]
}
df = pd.DataFrame(data)
df.set_index("Student", inplace=True) # Student ko index banaya

# ---------------------------------------------------------
# Task 1: loc Slicing (Label based)
# ---------------------------------------------------------
print("Task 1 (loc):")
print(df.loc["Manav":"Sahil"])
# Output mein 'Manav' aur 'Sahil' DONO aayenge.

# ---------------------------------------------------------
# Task 2: iloc Slicing (Position based)
# ---------------------------------------------------------
print("\nTask 2 (iloc):")
print(df.iloc[0:2])
# Output mein Index 0 (Manav) aur Index 1 (Sahil) aayenge.
# Index 2 (Riya) count NAHI hoga.

Task 1 (loc):
         Marks  Subject
Student
Manav       85    Maths
Sahil       90  Science

Task 2 (iloc):
         Marks  Subject
Student
Manav       85    Maths
Sahil       90  Science

In [16]:
# Sahi Column Name (Subject) aur Sahi Brackets ( (A) | (B) )
smart_science_student = df[(df["Subject"] == "Science") | (df["Marks"] == 90)]

print(smart_science_student)

         Marks  Subject
Student
Sahil       90  Science

In [4]:
import pandas as pd
import numpy as np

# 1. Ganda Data (Dirty Data)
data = {
    "Student": ["Manav", "Sahil", "Riya", "Amit"],
    "Marks": [85, np.nan, 78, np.nan],  # Sahil aur Amit ke marks gayab
    "Subject": ["Maths", "Science", "Maths", "Maths"]
}
df = pd.DataFrame(data)

# 2. Mean (Average) calculate karo
avg_marks = df["Marks"].mean()
print(f"Average Marks: {avg_marks}")

# 3. Magic: Sirf 'Marks' column ke NaN ko Mean se bhar do
df["Marks"] = df["Marks"].fillna(avg_marks)

print("\nCleaned Data:")
print(df)


# Topper kaun hai? Marks ko 'Descending' (High to Low) order me sort karo
df_sorted = df.sort_values(by="Marks", ascending=False)
print(df_sorted)

# 'Marks' column ka naam badal kar 'Final Score' kar dete hain
df.rename(columns={"Subject": "Course"}, inplace=True)
print(df)

Average Marks: 81.5

Cleaned Data:
  Student  Marks  Subject
0   Manav   85.0    Maths
1   Sahil   81.5  Science
2    Riya   78.0    Maths
3    Amit   81.5    Maths
  Student  Marks  Subject
0   Manav   85.0    Maths
1   Sahil   81.5  Science
3    Amit   81.5    Maths
2    Riya   78.0    Maths
  Student  Marks   Course
0   Manav   85.0    Maths
1   Sahil   81.5  Science
2    Riya   78.0    Maths
3    Amit   81.5    Maths

In [5]:
import pandas as pd

data = {
    "Student": ["Manav", "Sahil", "Riya", "Amit", "Priya"],
    "Subject": ["Maths", "Science", "Maths", "Science", "Maths"],
    "Marks": [85, 90, 78, 80, 95]
}
df = pd.DataFrame(data)

# Q: Kis Subject mein students ke marks zyada aaye hain? (Subject-wise Average)
subject_avg = df.groupby("Subject")["Marks"].mean()
print(subject_avg)

Subject
Maths      86.0
Science    85.0
Name: Marks, dtype: float64

In [6]:
import pandas as pd

# 1. Data Setup (Clean Data Analysis ke liye)
data = {
    "Student": ["Manav", "Sahil", "Riya", "Amit", "Priya"],
    "Subject": ["Maths", "Science", "Maths", "Science", "Maths"],
    "Marks": [85, 90, 78, 80, 95]
}
df = pd.DataFrame(data)

print("Original Data:")
print(df)
print("\n" + "="*30 + "\n")

# ---------------------------------------------------------
# Task 1: Count (Kitne students hain?)
# ---------------------------------------------------------
# Hum 'Subject' ke hisaab se group banayenge aur 'Student' ko ginenge (count)
subject_counts = df.groupby("Subject")["Student"].count()
print("1. Student Count per Subject:")
print(subject_counts)

print("\n" + "-"*20 + "\n")

# ---------------------------------------------------------
# Task 2: Max (Topper marks)
# ---------------------------------------------------------
# Hum 'Marks' column ka max nikalenge
subject_toppers = df.groupby("Subject")["Marks"].max()
print("2. Max Marks per Subject:")
print(subject_toppers)

Original Data:
  Student  Subject  Marks
0   Manav    Maths     85
1   Sahil  Science     90
2    Riya    Maths     78
3    Amit  Science     80
4   Priya    Maths     95

==============================

1. Student Count per Subject:
Subject
Maths      3
Science    2
Name: Student, dtype: int64

--------------------

2. Max Marks per Subject:
Subject
Maths      95
Science    90
Name: Marks, dtype: int64

In [1]:
import pandas as pd

# 1. Ek DataFrame banate hain
data = {
    "Student": ["Manav", "Sahil", "Riya", "Amit"],
    "Marks": [85, 90, 78, 80],
    "City": ["Delhi", "Mumbai", "Delhi", "Pune"]
}
df = pd.DataFrame(data)

# 2. Ise 'CSV File' ki tarah save karte hain (Write)
df.to_csv("students.csv", index=False)
print("File 'students.csv' saved successfully!")

# ---------------------------------------------------------

# 3. Ab wapas Read karte hain (Read)
# Maan lo ye file internet se aayi hai
df_new = pd.read_csv("students.csv")

# 4. EDA Commands check karte hain
print("\n--- INFO ---")
print(df_new.info())

print("\n--- DESCRIBE ---")
print(df_new.describe())

File 'students.csv' saved successfully!

--- INFO ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Student  4 non-null      object
 1   Marks    4 non-null      int64
 2   City     4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes
None

--- DESCRIBE ---
           Marks
count   4.000000
mean   83.250000
std     5.377422
min    78.000000
25%    79.500000
50%    82.500000
75%    86.250000
max    90.000000

In [2]:
import pandas as pd

data = {
    "Student": ["MANAV", "sahil", "Riya", "MANAV"], # Manav 2 baar hai (Duplicate)
    "Marks": [85, 90, 78, 85]
}
df = pd.DataFrame(data)

# 1. String Cleaning: Sabke naam Title Case (Pehla bada, baaki chota) karte hain
df["Student"] = df["Student"].str.title()
print("1. Name Fixed:\n", df)

# 2. Remove Duplicates: Manav ki copy hatate hain
df = df.drop_duplicates()
print("\n2. Duplicates Removed:\n", df)

# 3. Apply: Custom Logic (Pass/Fail column banana)
def check_result(marks):
    if marks > 80:
        return "Distinction"
    else:
        return "Good"

df["Result"] = df["Marks"].apply(check_result)
print("\n3. Custom Logic Applied:\n", df)

1. Name Fixed:
   Student  Marks
0   Manav     85
1   Sahil     90
2    Riya     78
3   Manav     85

2. Duplicates Removed:
   Student  Marks
0   Manav     85
1   Sahil     90
2    Riya     78

3. Custom Logic Applied:
   Student  Marks       Result
0   Manav     85  Distinction
1   Sahil     90  Distinction
2    Riya     78         Good

In [3]:
import pandas as pd

# --- Step 1: Do Alag Tables Banate hain ---
# Table A: Student ki Info
students = pd.DataFrame({
    "ID": [1, 2, 3],
    "Name": ["Manav", "Sahil", "Riya"]
})

# Table B: Student ke Marks
scores = pd.DataFrame({
    "ID": [1, 2, 3],
    "Maths": [85, 90, 78],
    "Science": [88, 92, 80]
})

print("Table A (Students):\n", students)
print("\nTable B (Scores):\n", scores)

# --- Step 2: MERGE (Jodna) ---
# ID ke base par dono ko jod kar ek badi table banayi
merged_df = pd.merge(students, scores, on="ID")
print("\n1. Merged Table (Judi hui):\n", merged_df)

# --- Step 3: MELT (Pighlana/Reshape) ---
# Maths aur Science columns ko tod kar rows bana diya (Visualization ke liye)
melted_df = merged_df.melt(id_vars=["Name"], value_vars=["Maths", "Science"], 
                           var_name="Subject", value_name="Marks")

print("\n2. Melted Table (Long Format for Graphs):\n", melted_df)

Table A (Students):
    ID   Name
0   1  Manav
1   2  Sahil
2   3   Riya

Table B (Scores):
    ID  Maths  Science
0   1     85       88
1   2     90       92
2   3     78       80

1. Merged Table (Judi hui):
    ID   Name  Maths  Science
0   1  Manav     85       88
1   2  Sahil     90       92
2   3   Riya     78       80

2. Melted Table (Long Format for Graphs):
     Name  Subject  Marks
0  Manav    Maths     85
1  Sahil    Maths     90
2   Riya    Maths     78
3  Manav  Science     88
4  Sahil  Science     92
5   Riya  Science     80

In [4]:
import numpy as np

# 1. Random Integer (e.g., Ludo ka dice fekna 1 se 6)
dice_roll = np.random.randint(1, 7) 
print(f"Dice says: {dice_roll}")

# 2. Random Array (e.g., Dummy data banana testing ke liye)
# 5 random numbers 0 se 100 ke beech
dummy_data = np.random.randint(0, 100, 5)
print(f"Random Data: {dummy_data}")

# 3. Shuffle (Data ko mix karna - Taash ke patte fentna)
arr = np.array([10, 20, 30, 40, 50])
np.random.shuffle(arr)
print(f"Shuffled Array: {arr}")

Dice says: 5
Random Data: [83 15 29 54 82]
Shuffled Array: [30 50 40 10 20]